<h3>Dear <%= @user.full_name %>!</h3>
<p>We received a request to send you a password reminder. Your account information is below.</p>
<p><span >Your username is : <u><strong><%= @user.email %></strong></u></span></p>
<p><span >Your Code : <u><strong><%= @user.reset_password_token %></strong></u> </span></p>
<p>
  If you did not make this request you may ignore this email or contact support@app.com for assistance.</p>
<p>
  If you made this request you may go to application, enter above code and follow the steps to reset your password.</p>
<p>Regards,</p>
<p>App Team</p>
