SECRET_KEY_BASE=
SERVER_URL='localhost:3000'
PASSWORD_RESET_URL='http=//127.0.0.1:3000'
FROM_EMAIL=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
AWS_BUCKET_REGION=

# Digital Ocean
DO_ACCESS_KEY_ID=
DO_SECRET_ACCESS_KEY=
DO_SPACE_NAME=
DO_SPACE_REGION=
DO_ENDPOINT=
